<div class="row">
<% @posts.each do |post| %>
  <div>
    <h2><%= link_to post.title, post %></h2>
    <p><%= truncate(post.content, length: 100) %></p>
    <small>Autor: <%= post.user.email %></small>

    <% if post.user == current_user %>
      <%= link_to 'Editar', edit_post_path(post), class: 'btn btn-primary' %>
      <%= link_to 'Excluir', post, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger' %>
    <% end %>
  </div>
<% end %>


<div class="d-flex justify-content-center">
  <%= paginate @posts %>
</div>
